body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-color: #121212;
    color: whitesmoke;
}

.container {
    margin: auto;
    padding: 2rem;
    max-width: 1000px;
}

.repo-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    .repo-card {
        background-color: #1d1d1d;
        border: 1px solid #1d1d1d;
        border-radius: 0.5rem;
        width: 25%;
    }
}
